h1, h2, p {
    text-align: center;
}

#bookEntry,
#bookISBNEntry {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#formElement {
    padding: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#bookName,
#bookAuthor,
#bookPic,
#bookTags,
#bookISBN {
    width: 75%;
}

img {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}